version: '3.8'

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - public
      - internal
    depends_on:
      - api
      - grafana

  api:
    build: ./api
    env_file: .env
    networks:
      - internal

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - internal

  grafana:
    image: grafana/grafana
    env_file: .env
    environment:
      - GF_SERVER_ROOT_URL=http://${SERVER_IP}/grafana/
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
    volumes:
      - ./datasources:/etc/grafana/provisioning/datasources:ro
    networks:
      - internal

networks:
  public:
  internal:
    internal: true